{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% include "navbar.html" %}
<div class="container shadow rounded p-2 mt-3 mb-2" id="ob_chart"></div>
<div class="container shadow rounded p-2 mt-3 mb-2" id="ib_chart"></div>
</div>
</div>
</main>
</div>
</div>
<script>
    var socket = io();
    var ob_interfaces_list = [];
    var ib_interfaces_list = [];
    let iface;
    {%for interface in interfaces %}
      iface = {};
      iface.name = "{{interface}}";
      iface.data = [];
      ob_interfaces_list.push(iface);
      ib_interfaces_list.push(iface);
    {% endfor %}
    // Initialize chart options
    const ob_options = {
      chart: {
        height: 350,
        type: 'line',
        animations: {
          enabled: true,
          easing: 'linear',
          dynamicAnimation: {
            speed: 1000
          }
        },
        toolbar: {
          show: false
        },
      },
      series: ob_interfaces_list,
      xaxis: {
        type: 'datetime',
        labels: {
          format: 'HH:mm:ss'
        },
        range: 10 * 1000 // 10 seconds
      },
      stroke: {
        curve: 'smooth'
      },
      yaxis: {
        min: 0,
        max: 100
      },
      legend: {
        show: true,
        position: 'top'
      },
      title: {
        text: "Outbound Traffic",
      }
    };
    
    const ib_options = {
      chart: {
        height: 350,
        type: 'line',
        animations: {
          enabled: true,
          easing: 'linear',
          dynamicAnimation: {
            speed: 1000
          }
        },
        toolbar: {
          show: false
        },
      },
      series: ib_interfaces_list,
      xaxis: {
        type: 'datetime',
        labels: {
          format: 'HH:mm:ss'
        },
        range: 10 * 1000 // 10 seconds
      },
      stroke: {
        curve: 'smooth'
      },
      yaxis: {
        min: 0,
        max: 100
      },
      legend: {
        show: true,
        position: 'top'
      },
      title: {
        text: "Inbound Traffic",
      },
      colors:["#180161","#7C00FE","#FF8225"]
    };

    var ob_chart = new ApexCharts(document.querySelector("#ob_chart"), ob_options);
    var ib_chart = new ApexCharts(document.querySelector("#ib_chart"), ib_options);
    ob_chart.render();
    ib_chart.render();
    function fetchNetworkStats() {
      fetch('/network_stats')
        .then(response => response.json())
        .then(data => {
          let c = 0;
          console.log(data);
          for (const interface in data) {
            if (data.hasOwnProperty(interface)) {
              const stats = data[interface];
              let packetsSent = parseInt(stats.packets_sent);
              let packetsRecv = parseInt(stats.packets_recv);
              ob_interfaces_list[c].data.push({
                x: new Date().getTime(),
                y: packetsSent
              });
              ib_interfaces_list[c].data.push({
                x: new Date().getTime(),
                y: packetsRecv
              });
              c++;
            }
          }
          console.log(ob_interfaces_list);
          ob_chart.updateSeries(ob_interfaces_list);
          ib_chart.updateSeries(ib_interfaces_list);
        })
        .catch(error => console.error('Error fetching network stats:', error));
    }

    // Fetch network stats every second
    setInterval(fetchNetworkStats, 1000);
  </script>
{% endblock %}
