{% extends "base.html" %}
{% block title %}Jara client {{jara_client}}{% endblock %}
{% block content %}

{% include "navbar.html" %}
    <h2>{{jara_client}}</h2>
    <h3>Files</h3>
    <ul class="list-group">
        {%if jara_client_current.get("files")%}
            {%for file in jara_client_current["files"]%}
                <li class="list-group-item"><a href="/jara">{{file}}</a></li>
            {%endfor%}
        {%endif%}
    </ul>
    <h3>Interfaces</h3>
    <ul class="list-group">
        {%if jara_client_current.get("interfaces")%}
            {%for file in jara_client_current["interfaces"]%}
                <li class="list-group-item"><a href="/jara">{{file}}</a></li>
            {%endfor%}
        {%endif%}
    </ul>
</div>
</div>
</main>
</div>
</div>
{%endblock%}