{% extends "base.html" %}
{% block title %}Jara client {{jara_client}}{% endblock %}
{% block content %}

{% include "navbar.html" %}
    <h2>{{jara_client}}</h2>
    <h3>Files</h3>
    <ul class="list-group">
        {%if jara_client_current.get("files")%}
            {%for file in jara_client_current["files"]%}
                <a class="list-group-item list-group-item-action" href="/jara/client/{{jara_client}}/analyse_file/{{file}}">{{file}}</a>
            {%endfor%}
        {%endif%}
    </ul>
    <h3>Interfaces</h3>
    <ul class="list-group">
        {%if jara_client_current.get("interfaces")%}
            {%for interface in jara_client_current["interfaces"]%}
                <a class="list-group-item list-group-item-action" href="/jara/client/{{jara_client}}/analyse_interface/{{interface}}">{{interface}}</a>
            {%endfor%}
        {%endif%}
    </ul>
</div>
</div>
</main>
</div>
</div>
{%endblock%}