{%extends "base.html"%}
{%block title%}Terminal{%endblock%}
{%block content%}
{%include "navbar.html"%}
                        <div id="terminal" class="mb-3"></div>
                </div>
        </main>
    </div>
</div>
<script>
    const term = new Terminal({
        cursorBlink: true,
        macOptionIsMeta: true,
        scrollback: true,
        fontFamily: 'Fira Code, monospace'
    });

    const fit = new FitAddon.FitAddon();
    term.loadAddon(fit);
    term.loadAddon(new WebLinksAddon.WebLinksAddon());
    term.loadAddon(new SearchAddon.SearchAddon());

    term.open(document.getElementById("terminal"));
    fit.fit();
    term.resize(15, 50);
    console.log(`size: ${term.cols} columns, ${term.rows} rows`);
    fit.fit();
    term.writeln('');

    const socket = io.connect("/pty");

    socket.on("pty-output", function (data) {
        console.log("new output received from server:", data.output);
        term.write(data.output);
    });

    term.onData((data) => {
        console.log("browser terminal received new data:", data);
        socket.emit("pty-input", { input: data });
    });

    function fitToscreen() {
        fit.fit();
        const dims = { cols: term.cols, rows: term.rows };
        console.log("sending new dimensions to server's pty", dims);
        socket.emit("resize", dims);
    }

    function debounce(func, wait_ms) {
        let timeout;
        return function (...args) {
            const context = this;
            clearTimeout(timeout);
            timeout = setTimeout(() => func.apply(context, args), wait_ms);
        };
    }
    window.onresize = debounce(adjustTerminalSize, 10);
    function customKeyEventHandler(e) {
        if (e.type !== "keydown") {
            return true;
        }
        if (e.ctrlKey && e.shiftKey) {
            const key = e.key.toLowerCase();
            if (key === "v") {
                navigator.clipboard.readText().then((toPaste) => {
                    term.writeText(toPaste);
                });
                return false;
            } 
            else if (key === "c" || key === "x") {
                const toCopy = term.getSelection();
                navigator.clipboard.writeText(toCopy);
                term.focus();
                return false;
            }
        }
        return true;
    }
    const wait_ms = 0;
    window.onresize = debounce(fitToscreen, wait_ms);
</script>
{%endblock%}
